<div class="font-effect-anaglyph">All poets</div>

<div class="poet"><% @poets.each do |poet| %>
    <div class="font-effect-anaglyph"><p><%= poet.name %></p></div>
    <div class="photo"><%= image_tag poet.photo_url(:thumb) if poet.photo?%></div>
    <div class="internal_link"><%= link_to 'Show', poet %>
        <%= link_to 'Edit', edit_poet_path(poet) %>
        <%= link_to 'Destroy', poet, method: :delete, data: { confirm: 'Are you serious?'} %></div>
    <% end %>
</div>

<div class="bottom_link"><%= link_to 'New Poet', new_poet_path %></div>
