<div class="poet">
  <div class="font-effect-anaglyph"><%= @poet.name %></div>
  <%= image_tag(@poet.photo_url(:thumb), class: "photo") if @poet.photo?%>
  <% @poet.performances.each do |p| %>
    <h1><%= p.round.slam.name %></h1>
    <p><%= p.round.round_number %></p>
    <p><%= p.normalized_score %></p>
  <% end %>
</div>

<div class="bottom_link"><%= link_to 'Edit', edit_poet_path(@poet) %></div> 
<div class="bottom_link"><%= link_to 'All Poets', poets_path %></div>
