<p id="notice"><%= notice %></p>


<div class="font-effect-anaglyph"><%= @poet.name %></div>
<div class="photo"><%= image_tag(@poet.photo_url) if @poet.photo?%></div>



<%= link_to 'Edit', edit_poet_path(@poet) %> |
<%= link_to 'Back', poets_path %>
