<p id="notice"><%= notice %></p>

<div class="poet">
  <div class="font-effect-anaglyph"><%= @poet.name %></div>
  <%=image_tag @poet.photo_url if @poet.photo? %>
</div>

<div class="bottom_link"><%= link_to 'Edit', edit_poet_path(@poet) %></div> 
<div class="bottom_link"><%= link_to 'Back', poets_path %></div>
