<div class="form_field"> 
  <%= form_for(@slam) do |f| %>
   <div class="field">
     <%= f.label :event_name %><br />
     <%= f.text_field :name %>
   </div>
   <div class="field">
     <%= f.label :event_date %><br />
     <%= f.date_select :event_date %>
   </div>
   <div class="field">
     <%= f.label :description %><br />
     <%= f.text_field :description %>
   </div>
   <div class="actions">
     <%= f.submit %>
   </div>
  <% end %>
</div>
