<div class="font-effect-anaglyph">Edit Slam<div>

<div class="form_field">
  <%= form_for(@slam) do |f| %>
    <div class="field">
      <%= f.label :master_id %><br />
      <%= f.number_field :master_id %>
    </div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :event_date %><br />
      <%= f.date_select :event_date %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>
    <% @poets.each do |p| %>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="bottom_link"><%= link_to 'Look', @slam %></div>
<div class="bottom_link"><%= link_to 'Back', slams_path %></div>
