<div class="font-effect-anaglyph">Slam List</div>

<div class="slam">
  <% @slams.each do |slam| %>
    <div class="font-effect-anaglyph"><p><%= slam.name %></p></div>
    <p><%= slam.event_date %></p>
    <% if slam.slam_complete == true %>
      <div class="internal_link"><%= link_to 'Results', slam_final_path(slam.id) %></div>
    <% else %>
      <div class="internal_link"><%= link_to 'Look', slam_path(slam.id) %></div>
    <% end %>
  <% end %>
</div>

<div class="bottom_link"><%= link_to 'New Slam', new_slam_path %>
