<div class="font-effect-anaglyph">Listing slams</div>

<div class="slam"><% @slams.each do |slam| %>
    <div class="font-effect-anaglyph"><p><%= slam.name %></p></div>
    <p><%= slam.event_date %></p>
    <p><%= slam.description %></p>
    <div class="internal_link"><%= link_to 'Look', slam %>
      <%= link_to 'Edit', edit_slam_path(slam) %>
      <%= link_to 'Omit', slam, method: :delete, data: { confirm: 'Are you fucking kidding?' } %></div>
  <% end %>
</div>

<div class="bottom_link"><%= link_to 'New Slam', new_slam_path %>
