<p id="notice"><%= notice %></p>

<div class="slam">
  <div class="font-effect-anaglyph"><%= @slam.name %></div>
  <p><%= @slam.master.email %></p>
  <p><%= @slam.event_date %></p>
  <p><%= @slam.description %></p>
</div>

<div class="bottom_link"><%= link_to 'All Slams', slams_path %></div>

