<p id="notice"><%= notice %></p>

<div class="slam">
  <div class="font-effect-anaglyph"><%= @slam.name %></div>
  <p><%= @slam.master.email %></p>
  <p><%= @slam.event_date %></p>
  <p><%= @slam.description %></p>
  <div class="font-effect-anaglyph">Top poets from the final round:</div>
  <div class='slam_final'>
    <% @slam.top_poets.each do |name, score| %>
     <p data-poet-score="<%=score%>">
       <%= name %>
       <%= score %>
     </p>
    <% end %>
   <div class="font-effect-anaglyph">All Poets Involved</div>
    <% @slam.rounds.each do |r| %>
      <div class="font-effect-anaglyph"><p> Round <%= r.round_number %> Results:</p></div>
      <% r.performances.each do |p| %>
        <p><%= p.poet.name %></p>
        <p><%= p.normalized_score %></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="bottom_link"><%= link_to 'All Slams', slams_path %></div>

