<div class="font-effect-anaglyph">Add Poets to<%= @round.slam.name %>'s First Round</div>

<div class="form_field">
  <div class="round">
    <% form_for(@round) do |f| %>
      <% @poets.each do |p| %>
       <div class="poet">
         <p><%= label_tag "round_poet", p.name %></p>   
         <%= image_tag(p.photo_url(:thumb), class: "photo") if p.photo? %>
         <%= check_box_tag "round[poet][]", p.id %>
       </div>
      <% end %>
      <div class="actions">
       <%= f.submit %>
      </div>
   <% end %>
  </div>
</div>

<div class="bottom_link"><%= link_to 'Back', rounds_path %></div>
<div class="bottom_link"><%= link_to 'New Poet', new_poet_path %></div>

