<div class="font-effect-anaglyph">Add Poets to <%= @round.slam.name %>'s First Round</div>

<div class="form_field">
    <%= form_for(@round, url: score_path(@round.id)) do |f| %>
      <% @poets.each do |p| %>
        <p><%= check_box_tag "round[poet][]", p.id, class: 'roundedTwo' %></p>
        <p><%= label_tag "round_poet", p.name %></p>
        <%= image_tag(p.photo_url(:thumb), class: "photo") if p.photo? %>
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>  
</div>

<div class="bottom_link"><%= link_to 'Slams', slams_path %></div>
<div class="bottom_link"><%= link_to 'New Poet', add_poet_path(@round.id) %></div>
