<div class="font-effect-anaglyph">All Rounds</div>

<% @rounds.each do |round| %>
    <div class="font-effect-anaglyph"><p><%= round.slam_id %></p></div>
    <p>Round # <%= round.round_number %></p>
    <div class="internal_link"><%= link_to 'Look', round %>
    <%= link_to 'Edit', edit_round_path(round) %>
    <%= link_to 'Omit', round, method: :delete, data: { confirm: "Don't do it!" } %></div>

  <% end %>
</div>


<div class="bottom_link"><%= link_to 'New Round', new_round_path %></div>
