<div class="font-effect-anaglyph">Round Results</div>
<p>Check Poets to Advance to the Next Round</p>
<div class="form_field">
  <%= form_for(@newrnd, url: advance_round_path(@newrnd.id)) do |f| %>
    <% @poets.each do |p| %>
      <%= check_box_tag "round[poet][]", p.id, class: 'roundedTwo' %>
      <%= label_tag "round_poet", p.name %>
      <%= label_tag "poet_score", p.performance.normalized_score %>
    <% end %>
    <div class="actions">
      <%= f.submit 'Advance Round', name: 'advance_round' %>
      <%= f.submit 'End Slam', name: 'end_slam'%>
    </div>
  <% end %>
</div>

<div class="bottom_link"><%= link_to "slam", slam_path %></div>
  