<div class="font-effect-anaglyph"><%= @round.slam.name %> Round: <%= @round.round_number %></div>

<div class="form_field"> 
  <%= form_for(@round, url: save_score_path(@round.id)) do |f| %>
    <%= f.fields_for :performances do |p| %>
      <div class="font-effect-anaglyph"><p><%= p.object.poet.name %></p></div>
      <div class="field">
      <%= p.label :score1 %>
      <%= p.text_field :score1 %>
      </div>
      <div class="field">
        <%= p.label :score2 %>
        <%= p.text_field :score2 %>
      </div>
      <div class="field">
        <%= p.label :score3 %>
        <%= p.text_field :score3 %>
      </div>
      <div class="field">
        <%= p.label :score4 %>
        <%= p.text_field :score4 %>
      </div>
      <div class="field">
        <%= p.label :score5 %>
        <%= p.text_field :score5 %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<div class="bottom_link"><%= link_to 'Back', rounds_path %></div>