<h1>Listing performances</h1>

<table>
  <tr>
    <th>Round</th>
    <th>Poet</th>
    <th>Score1</th>
    <th>Score2</th>
    <th>Score3</th>
    <th>Score4</th>
    <th>Score5</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @performances.each do |performance| %>
  <tr>
    <td><%= performance.round_id %></td>
    <td><%= performance.poet_id %></td>
    <td><%= performance.score1 %></td>
    <td><%= performance.score2 %></td>
    <td><%= performance.score3 %></td>
    <td><%= performance.score4 %></td>
    <td><%= performance.score5 %></td>
    <td><%= link_to 'Show', performance %></td>
    <td><%= link_to 'Edit', edit_performance_path(performance) %></td>
    <td><%= link_to 'Destroy', performance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Performance', new_performance_path %>
