<!DOCTYPE html>
<html>
<head>
  <title>PoetrySlam</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div class="master_nav">
   <% if current_user %>
     Logged in as <%= current_user.email %>.
     <%= link_to "Log out", logout_path %>
   <% else %>
     <%= link_to "Sign up", signup_path %> or
     <%= link_to "Log in", login_path  %>.
   <% end %>
  </div>
  <div id="content">
    <% flash.each do |name, msg| %>
         <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>
