<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Bitter:400,700&effect=anaglyph' rel='stylesheet' type='text/css'>
  <title>PoetrySlam</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div class="master_nav">
   <% if current_user %>
     Logged in as <%= current_user.email %>.
     <%= link_to "Get Outta Here", logout_path %>
   <% else %>
     <%= link_to "Sign Up to be a SLAM MASTER", signup_path %> or
     <%= link_to "Log In", login_path  %>
   <% end %>
  </div>
  <div id="content">
    <% flash.each do |name, msg| %>
         <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>
